<form action="" method="post" accept-charset="utf-8" enctype="multipart/form-data">
  <fieldset>
    <input type="file" name="csvfile"/>
  </fieldset>
  <input type="submit" name="Submit" value="Upload" class="btn btn-success"/>
</form>