<div class="span12 row-fluid">
   <p>Your order has been placed successfully. You will receive a confirmation email shortly.</p>
  <a href="/download/<%= @filename %>.pdf" name="download pdf" class="btn-large btn btn-info">PDF download</a>

</div>
